:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .role-create {
    margin: 5px 5px 5px;
  }
  
  button {
    margin-left: 30px;
    background-color: teal !important;
  }