<div *ngIf="state.state" class="mb-3" style="margin: 2rem auto; max-width: 550px">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      #txtPassword
    />
    <label for="confirmPassword" class="form-label mt-3">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      placeholder="Confirm Password"
      #txtPasswordConfirm
    />
    <button type="button" class="btn btn-primary mt-3" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">
      Update</button>
  </div>
  
  
  <div *ngIf="!state.state" class="alert alert-danger" role="alert">
      This link is not supported!
    </div>